/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


 */

/* line 5, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/blog.css.scss */
.personal_title {
  font-weight: bold;
  font-size: 15pt;
}

/* line 10, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/blog.css.scss */
header {
  width: 1100px;
  height: 60px;
  clear: both;
}

/* line 16, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/blog.css.scss */
.menu_text {
  text-align: left;
  font-weight: bold;
  color: #3725A8;
}

/* line 22, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/blog.css.scss */
.login_user_info {
  text-align: right;
  font-weight: bold;
  font-size: 10pt;
}

/* line 28, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/blog.css.scss */
section {
  width: 80%;
  background-color: #61D060;
  border: 1px solid #333333;
  text-align: left;
  font-weight: bold;
  visibility: visible;
  z-index: 0;
  float: right;
  margin: 3px;
}

/* line 40, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/blog.css.scss */
nav {
  text-align: left;
  font-weight: bold;
  border: 1px solid #333333;
  background-image: url("gstar.jpg");
  background-size: 250px 700px;
  background-repeat: no-repeat;
  vertical-align: text-top;
  /*width: 15%;
  height: 600px;*/
  width: 180px;
  height: 700px;
  float: right;
  margin: 3px;
}

/* line 57, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/blog.css.scss */
.blog_entry {
  background-color: #FFEECC;
  border: 1px solid #333333;
  font-size: 10pt;
  width: 200px;
  margin: 3px;
  z-index: 4;
  cursor: move;
}

/* line 67, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/blog.css.scss */
.comment {
  background-color: #FFFFDB;
  border: 1px solid #333333;
  font-size: 10pt;
  width: 700px;
  margin: 3px;
  z-index: 4;
  cursor: move;
}

/* line 77, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/blog.css.scss */
.comment_form {
  font-weight: bold;
  font-size: 12pt;
  background-color: #fFFFDB;
  border: 1px solid #333333;
  width: 700px;
  margin: 3px;
}

/* line 86, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/blog.css.scss */
footer {
  clear: both;
  text-align: center;
}
/* line 5, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
.title {
  font-weight: bold;
  font-size: 15pt;
}

/* line 10, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
.label {
  font-size: 10pt;
  font-weight: bold;
  background-color: #FFFFDB;
}

/* line 16, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
header {
  width: 1100px;
  height: 60px;
  clear: both;
}

/* line 22, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
section {
  width: 1200px;
  background-color: #61D060;
  visibility: visible;
  z-index: 0;
  float: right;
}

/* line 30, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
nav {
  /*
  text-align: let;
  font-weight: bold;
  border: 2px solid #333333;
  background-color: #61D060;
  vertical-align: text-top;
  */
  border: 2px solid #333333;
  background-image: url("gstar.jpg");
  background-size: 250px 700px;
  background-repeat: no-repeat;
  width: 180px;
  height: 700px;
  float: right;
}

/* line 47, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
.entry {
  background-color: #FFFFDB;
  border: 1px solid #333333;
  font-size: 10pt;
  width: 200px;
  margin: 3px;
  z-index: 4;
  cursor: move;
}

/* line 57, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
.comment {
  background-color: #FFFFDB;
  border: 1px solid #333333;
  font-size: 10pt;
  width: 700px;
  margin: 3px;
  z-index: 4;
  cursor: move;
}

/* line 67, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
.list_menu {
  text-align: left;
  font-size: 9pt;
  background-color: #67BA37;
}

/* line 73, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
.datetime {
  font-size: 8pt;
}

/* line 77, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
.menu_text {
  text-align: left;
  font-weight: bold;
  color: #3725A8;
}

/* line 83, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
.entry_form {
  font-weight: bold;
  font-size: 12pt;
  background-color: #FFFFDB;
  border: 1px solid #333333;
  width: 700px;
  margin: 3px;
}

/* line 92, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
.login_user_info {
  text-align: right;
  font-weight: bold;
  font-size: 10pt;
}

/* line 98, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
.sub_header_info {
  text-align: center;
  font-size: 12pt;
  font-weight: bold;
  color: #3725A8;
  width: 100%;
}

/* line 106, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/entries.css.scss */
footer {
  clear: both;
  text-align: center;
}
/* line 1, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
body {
  background-color: #fff;
  color: #333;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 9, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

/* line 15, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

/* line 21, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
a {
  color: #000;
}
/* line 24, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
a:visited {
  color: #666;
}
/* line 28, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
a:hover {
  color: #fff;
  background-color: #000;
}

/* line 35, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
div.field, div.actions {
  margin-bottom: 10px;
}

/* line 40, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
#notice {
  color: green;
}

/* line 44, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

/* line 50, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}
/* line 58, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  margin-bottom: 0px;
  background-color: #c00;
  color: #fff;
}
/* line 69, /home/weiliang/rails_code/heroku-blog001/app/assets/stylesheets/scaffolds.css.scss */
#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}
